---
permalink: post/index.xml
eleventyExcludeFromCollections: true
---
{% set posts = collections.posts | head(20) %}
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.title }}</title>
    <link>{{ site.url }}</link>
    <description>{{ site.description }}</description>
    <language>en-us</language>
    <lastBuildDate>{{ collections.posts | rssLastUpdatedDate }}</lastBuildDate>
    <atom:link href="{{ site.url }}/post/index.xml" rel="self" type="application/rss+xml" />
    {% for post in posts %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ site.url }}{{ post.url }}</link>
      <guid>{{ site.url }}{{ post.url }}</guid>
      <pubDate>{{ post.date | rssDate }}</pubDate>
      <description>{{ post.templateContent | striptags | safe }}</description>
    </item>
    {% endfor %}
  </channel>
</rss>
