---
title: Not Found
layout: base.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---
<article>
  <h1>404</h1>
  <p>The page you requested does not exist.</p>
  <p><a href="/">Return home</a></p>
</article>
